<h1>User Registration</h1>

<!-- <h2>{{ doj | date:'dd/MMM/yyyy' }}</h2>

<p>{{ description | shorten }}</p> -->

<!-- email / password / name -->

<form (ngSubmit)='register()' [formGroup]='userForm'>
    <div class="form-group">
        <label for="email">Email</label>
        <input  type="text" 
                class="form-control" 
                id="email"
                formControlName='email'>
        <div *ngIf="!email.valid && email.touched">
              <div *ngIf="email.errors.required" class="alert alert-danger">
                  Email is required...
              </div>
              <div *ngIf="email.errors.shouldNotContainSpaces" class="alert alert-danger">
                Email should not contain spaces ....
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="pwd">Password</label>
        <input  type="password" 
                class="form-control" 
                id="pwd"
                formControlName='password'>

        
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input  type="text" 
                class="form-control" 
                id="name"
                formControlName='name'>
    </div>
   
    <button type="submit" class="btn btn-primary">Register</button>
</form>

