<div class="container-fluid">
    <div class="row" style="background:lightgrey; height: 200px;">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">
        <div class="col-3" style="background-color: lightgreen;height: 500px;">
                <app-navbar></app-navbar>
        </div>
        <div class="col-9" style="background-color:lightsalmon;height: 500px;">
                <app-courses></app-courses>
        </div>        
    </div>

</div>



