<div>
    <h1>Movies</h1>

    <div *ngIf='errMsg' class="alert alert-danger">
        {{errMsg}}
    </div>

    <div *ngIf='movies.length>0;else nomovies'>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Stock</th>
                <th>Rate</th>
                <th></th>
            </tr>
            <tr *ngFor='let movie of movies'>
                <td>{{movie.title}}</td>
                <td>{{movie.genre.name}}</td>
                <td>{{movie.numberInStock}}</td>
                <td>{{movie.dailyRentalRate}}</td>
                <td>
                    
                </td>
            </tr>
        </table>
    </div>

    <ng-template #nomovies>
        <p>Could not get movies from database...</p>
    </ng-template>
</div>
